#wrapper { 
	width:900px; 
	margin: 
	0 auto; 
}

#headerIMG {
	display: block;
	width: 1000px;
	margin: auto;
}

#headerIMG2 {
	display: block;
	width: 1000px;
	margin: auto;
}

#headerIMG3 {
	display: block;
	margin: auto;
	width: 800px;
}

.paragraph{
	width: 600px;
	margin: auto;
	cursor: pointer;
}
.boxed{
	border: 1px solid black;
	width: 800px;
	padding: 10px;
	margin: auto;
}
.boxed2{
	border: 1px solid black;
	padding: 10px;
	width: 1000px;
	margin: auto;
}
#box1{
	display: none;
}
#box2{
	display: none;
}
#box3{
	display: none;
}
#box4{
	display: none;
}
#box5{
	display: none;
}
#box6{
	display: none;
}
#box7{
	display: none;
}
#box8{
	display: none;
}
#box9{
	display: none;
}
#box10{
	display: none;
}
#box11{
	display: none;
}
#box12{
	display: none;
}
#box13{
	display: none;
}
#box14{
	display: none;
}
#box15{
	display: none;
}
.buttonup {
  display: inline-block;
  border-radius: 4px;
  background-color: #4CAF50;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  width: 25px;
  transition: all 0.5s;
  cursor: pointer;
}

.buttondw {
  display: inline-block;
  border-radius: 4px;
  background-color: #f44336;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  width: 25px;
  transition: all 0.5s;
  cursor: pointer;
}

.buttonup span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttondw:hover span:after {
  opacity: 1;
  right: 0;
}


#count {
 display: inline-block;
  border-radius: 0px;
  border: none;
  color: black;
  text-align: center;
  font-size: 18px;
  width: 20px;
  margin-top: 0px;
  
}
.Username{
	display: inline;
	font-weight: bold;
	padding-left: 10px;
}
#comment1{
	padding-left: 80px;
}
#comment2{
	padding-left: 80px;
}
#comment3{
	padding-left: 80px;
}
#comment4{
	padding-left: 80px;
}
#comment5{
	padding-left: 80px;
}
#comment6{
	padding-left: 80px;
}
#comment7{
	padding-left: 80px;
}
#comment8{
	padding-left: 80px;
}
#comment9{
	padding-left: 80px;
}
#comment10{
	padding-left: 80px;
}
#comment11{
	padding-left: 80px;
}
#comment12{
	padding-left: 80px;
}
#comment13{
	padding-left: 80px;
}
#comment14{
	padding-left: 80px;
}
#comment15{
	padding-left: 80px;
	color: gray;
}
.exit{
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
}
.addComments{
	padding-left: 80px;
}
.paragraph:hover{
	background-color: yellow;
}
.sourceText{
	width: 300px;
}
.annotationText{
	width: 300px;
}
.annotationReplies{
	padding-left: 80px;
}
.CCRedir{
	padding-left: 80px;
	color: blue;
	font-weight: bold;
	cursor: pointer;
}
.CC{
	width: 90px;
	margin-left: 350px;
}
.Time{
	color: gray;
	display: inline;
}
#CCWeb{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.search{
	width: 650px;
	margin: auto;
	padding-top: 2%;
}
.searchTerm{
	width: 500px;
}
#results{
	width: 700px;
	margin: auto;
}
#nyt{
	width: 1000px;
}
.linkz{
	font-weight: bold;
	font-size: 30;
	margin-left: 40px;
	cursor: pointer;
}
.location{
	margin-left: 40px;
	font-size: 25;
}
#wsj{
	width: 1000px;
}
#fox{
	width: 1000px;
}
.checkIMG{
	height: 70px;
	margin-left: 40px;
}
.anonCount{
	display: inline;
	font-size: 25;
}